{% assign collection = collections['all'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
    <li>
    <a style="color: {{ settings.link_color }}" href="{{ product.url }}"> {{ product.title }} - {{ product.price | money }}
    {% unless product.available != false %}
        (SOLD OUT!)
    {% endunless %}
    </a>
    </li>
    {% endfor %}
</ul>