{% assign collection = collections['all'] %}
{{ collection.title }}
<ul>
    {% for product in collection.products %}
    <a href="{{ product.url }}">
    <li> {{ product.title }} - {{ product.price | money }} - {{ product.available }}</li>
    </a>
    {% endfor %}
</ul>